<div class="container" id="donation-banner-img-container">
    <img src="~/Images/donations.jpeg" alt="holding and elders hand for comfort" class="img-fluid" />
</div>
<div class="container">
    <div class="row">
        <h2 class="donation-header">Your donation makes access to quality health care possible.</h2>
        <p class="donation-header-subtext">Ontario hospitals are working harder than ever, but tax dollars alone aren't always enough to keep up.  The North Shore Health Network Foundation relies on your generous gift to replace outdated medical equipment, purchase innovative medical technology, and boost patient services. This not only improves patient outcomes, but sustains our access to local health care - now and in the future.</p>
    </div>
</div>
<hr />
<h3 class="donation-why-give">why give?</h3>

@* SUPPORT LOCAL HEALTHCARE *@
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-4 align-items-center d-flex">
            <div class="donation-thumbnail-container">
                <img src="~/Images/about-us.png" alt="mosaic of doctors" class="img-thumbnail" />
            </div>
        </div>
        <hr />
        <div class="col-lg-6 col-md-8">
            <h3 class="donation-subheader">support local healthcare</h3>
            <p>
                <strong>
                    When you or a loved one is ill or injured, where do you turn?
                </strong>
            </p>
            <p>If you’re like most people in our communities, you go to the North Shore Health Network. Whether you visit the Blind River Site, the Thessalon Site, or the Richards Landing - Matthews Site, you feel welcomed and secure in the hands of our local health care professionals.</p>
            <p>With your support, the Foundation is able to replace outdated medical equipment, purchase innovative medical technology, and boost patient services. This not only improves patient outcomes, but sustains our access to local health care — now and in the future.</p>
        </div>
    </div>
</div>
<hr />

@* LOCAL DONATION *@
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-4 order-md-last align-items-center d-flex">
            <div class="donation-thumbnail-container">
                <img src="~/Images/why-give.png" alt="mosaic of heart" class="img-thumbnail" />
            </div>
        </div>
        <hr />
        <div class="col-lg-6 col-md-8">
            <h3 class="donation-subheader">your donation stays local</h3>
            <p>
                <strong>
                    100% of your donation stays local
                </strong>
            </p>
            <p>
                You can choose to support a specific NSHN site or donate to where it is needed most. Know that your generous gift helps keep local health care within reach.

                The Foundation supports all sites of the North Shore Health Network:
            </p>
            <ul>
                <li>
                    Richards Landing - Matthews Site (Richards Landing, ON)
                </li>
                <li>
                    Thessalon Site (Thessalon, ON)
                </li>
                <li>
                    Blind River Site (Blind River, ON)
                </li>
            </ul>
        </div>
    </div>
</div>
<hr />

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-4 align-items-center d-flex">
            <div class="donation-thumbnail-container">
                <img src="~/Images/how-to-give.png" alt="mosaic of dove" class="img-thumbnail" />
            </div>
        </div>
        <hr />
        <div class="col-lg-6 col-md-8">
            <h3 class="donation-subheader">transparency of donation use</h3>
            <p>
                <strong>
                    Equipment Purchased
                </strong>
            </p>
            <p>
                Your donations matter. Whether you donated directly to the NSHN Foundation or to the NSHN Auxiliary, your donations made it possible for our health care professionals to have access to new and reliable equipment.

                In 2017-18, your donations purchased the following equipment:
            </p>
            <ul>
                <li>
                    Dinamap Blood Pressure Monitors (2 monitors)
                </li>
                <li>
                    Portable Digital Radiography Machine
                </li>
                <li>
                    Plum Intravenous Pumps
                </li>
                <li>
                    Laerdal Suction Unit
                </li>
                <li>
                    Cardiac Monitoring System
                </li>
            </ul>
        </div>
    </div>
</div>
<hr />
