<div class="flex-container" id="banner-container">
    <img id="banner" src="~/Images/main-banner.jpg" />

    <div class="container-of-icons">
        <div class="row" id="row-of-icons">
            <div class="icon1 col-sm-12 col-md-12">
                <a href="~/Account/Login" class="text-sm-center home-link">
                    <img src="~/Images/HOME/logIn.svg" />
                    <span class="banner-link-text">Login</span>
                </a>
            </div>
            <div class="icon2 col-sm-12 col-md-12">
                <a href="~/sites" class="text-sm-center home-link">
                <img src="~/Images/HOME/location.svg" />
                <span class="banner-link-text">Location</span>
                </a>
            </div>
            <div class="icon3 col-sm-12 col-md-12">
                <a href="~/appointments" class="text-sm-center home-link">
                <img src="~/Images/HOME/appointment.svg" />
                <span class="banner-link-text">Appointment</span>
                    </a>
            </div>
            <div class="icon4 col-sm-12 col-md-12">
                <a href="~/LabTestResults" class="text-sm-center home-link">
                <img src="~/Images/HOME/labResult.svg" />
                <span class="banner-link-text">Lab Results</span>
                    </a>
            </div>
        </div>
    </div>
</div>